body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}


.index-page {
    text-align: center;
    padding-bottom: 30px;
}
.index-page .index-page-logo {
    padding: 50px 0px 50px 0px;
    border-bottom: 1px solid #eee;
    margin-bottom: 50px;
}
.index-page .index-page-logo img {
    max-width: 250px;
    margin: auto;
}
.index-page .index-page-welcome h1 {
    font-size: 24px;
    color: #e87722;
}
footer {
    text-align: center;
    font-size: 13px;
    color: #aaa;
    font-weight: 200;
}